<aside class="sidebar">

  <div class="sidebar-header">
    <span class="sidebar-title">SmartOps</span>
  </div>

  <nav class="sidebar-nav">

    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="icon">▣</span>
      <span>Dashboard</span>
    </a>

    <a routerLink="/incidents" routerLinkActive="active">
      <span class="icon">⚠</span>
      <span>Incidents</span>
    </a>

    <a routerLink="/teams" routerLinkActive="active">
      <span class="icon">👥</span>
      <span>Teams</span>
    </a>

    <a routerLink="/users" routerLinkActive="active">
      <span class="icon">♙</span>
      <span>Users</span>
    </a>

    <a routerLink="/sla" routerLinkActive="active">
      <span class="icon">◷</span>
      <span>SLA Policies</span>
    </a>

    <a routerLink="/notifications" routerLinkActive="active">
      <span class="icon">🔔</span>
      <span>Notifications</span>
    </a>

    <a routerLink="/audit" routerLinkActive="active">
      <span class="icon">▤</span>
      <span>Audit Logs</span>
    </a>

  </nav>

</aside>